<%- include header %>

    <!--<div class="project-header">
    <p><h2><%= project.title %></h2></p>
    <p><h4><%= project.author_name%></h4></p>
    <img src=" <%= project.feature_image %>">
</div>
<div class="project-cart-content">
    <h5><a href="/project-funding/<%= project._id %>"><%= project.title %></a></h5>
    <p class="project-author">By <%= project.author_name %></p>
    <p class="short-blurb"><%= project.short_blurb %></p>
    <p class="category"><%= project.category %></p>

</div>
<div class="project_footer">
    <div class="project-stats-container">

        <div class="project-progress-bar">
            <p><%= project.funded_percent %></p>
        </div>
        <div class="project-stats">
            <p><h6>
                <%= project.backers_count %>人已支持</h6></p>
            <p><h6>已筹集 <%= project.funded_percent %>% </h6></p>
            <p><h6><%= project.current_amount %> 元</h6></p>
            <p><h6>离众筹结束还有<%= project.print_to_go %></h6></p>
        </div>
    </div>
</div>
<div class="project-description">
    <p><%=project.description%></p>
</div>

<a href="/back-project/<%= project._id %>">支持!</a>-->


    <div class="container-fluid" style="background-color:#f7fafa; border-bottom: 1px solid #ddd;">


        <div class="meta-content container">
            <div class="row">
                <div class="col-lg-12 col-xs-12">
                    <div class="page-header text-center">
                        <h2><%= project.title %> <small><br/>by <%= project.author_name %></small></h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <img src="/uploads/<%= project.feature_image %>" class="img-responsive">

                </div>

                <div id="right-info" class="col-lg-6 col-md-6 col-xs-12">
                    <!--不可container 套container-->
                    <!--<div class="container">-->
                    <div id="funding-all-info" style="padding-left:15px; padding-right:15px;">
                        <div class="progress">
                            <% if(project.funded_percent > 75){ %>
                                <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0"
                                    aria-valuemax="100" style="width: <%= project.funded_percent %>%">
                                </div>
                                <% }else{ %>
                                    <div class="progress-bar progress-bar progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"
                                        style="width: <%= project.funded_percent %>%">
                                    </div>
                                    <% } %>
                        </div>

                        <div id="funding-info" class="project-stats">

                            <div id="percent">
                                <div class="pre-num" style="float:left ;padding-bottom=0px">
                                    <span>
                                        已达目标 ¥<%= project.funding_goal %> 中的
                                    </span>
                                </div>
                                <div class="after-num" style="float:right">
                                    <span>%</span>
                                </div>
                                <div class="number" style="float:right">
                                    <span>
                                        <%= project.funded_percent %>
                                    </span>
                                </div>
                                <!--clear 元素用于保持3个浮动元素在上层div里 style:"clear: both;"-->
                                <div class="clear"></div>
                            </div>
                            <div id="backers">
                                <div class="pre-num" style="float:left ;padding-bottom=0px">
                                    <span>
                                        参与人数
                                    </span>
                                </div>
                                <div class="after-num" style="float:right">
                                    <span>人</span>
                                </div>
                                <div class="number" style="float:right">
                                    <span>
                                        <%= project.backers_count %>
                                    </span>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div id="current-amount">
                                <div class="pre-num" style="float:left ;padding-bottom=0px">
                                    <span>
                                        已筹得金额
                                    </span>
                                </div>
                                <div class="after-num" style="float:right">
                                    <span>元</span>
                                </div>
                                <div class="number" style="float:right">
                                    <span>
                                        <%= project.current_amount %>
                                    </span>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div id="print_to_go">
                                <div class="pre-num" style="float:left ;padding-bottom=0px">
                                    <span>
                                        筹款期还有
                                    </span>
                                </div>


                                <% if(project.millsecs_to_go / 1000 / 60 / 60 > 24){ %>

                                    <div class="after-num" style="float:right">
                                        <span>天</span>
                                    </div>
                                    <div class="number" style="float:right">
                                        <span>
                                                <%= Math.floor(project.millsecs_to_go / 1000 / 60 / 60 / 24) %>
                                            </span>
                                    </div>
                                    <% } else {%>
                                        <div class="after-num" style="float:right">
                                            <span>小时</span>
                                        </div>
                                        <div class="number" style="float:right">
                                            <span>
                                                <%= Math.floor(project.millsecs_to_go / 1000 / 60 / 60) %>
                                            </span>
                                        </div>

                                        <% } %>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>

                    </div>

                    <div id="back-buttons">
                        <button type="button" id="back-button" class="btn btn-success btn-lg" style="width:55%; margin-right:10px" onclick="location.assign('#rewards-list')">支持</button>
                        <button type="button" class="btn btn-default btn-lg" style="width:35%; margin-right:10px; color:#5cb85c"><span class="glyphicon glyphicon-heart-empty"></span> 关注</button>
                        <!--<button type="button" class="btn btn-default btn-lg" style="width:35%; margin-right:10px;"><span class="glyphicon glyphicon-heart-empty"></span> 关注</button>-->
                        <div class="clear"></div>
                    </div>

                    <div id="about-author">
                        <div class="clear" style="padding-left:10px"><span style="color:#999">关于发起者</span></div>

                        <div id="a-author-name" style="padding-top:30px; padding-right:20px;padding-left:20px"><b><%= project.author_name %></b> <br/>
                            <%= project.author_email %>
                        </div>
                        <img src="/uploads/<%=project.author_photo%>" class="img-responsive" style="object-fit: cover;">

                        <div class="clear"></div>
                    </div>

                </div>
                <!-- end right info -->



            </div>
            <div id="short_blurb">
                <span><%= project.short_blurb %></span>
            </div>
        </div>
        <!-- end meta-content -->

    </div>
    <!-- end  container-fluid-->



    <div class="detail-content container" id="detail-content">
        <ul class="nav nav-pills">
            <li class="active text-center"><a data-toggle="tab" href="#tab-main-content">介绍</a></li>
            <li><a data-toggle="tab" class="text-center" href="#tab-update">更新<span class="badge"></span></a></li>
            <li><a data-toggle="tab" class="text-center" href="#tab-comment">评论<span class="badge"><%= project.comments_count %></span></a></li>
            <!-- can not be seen at lg-->
            <li><a data-toggle="tab" class="text-center btn-success hidden-lg" id="btn-inline-reward" href="#tab-reward">支持</a></li>

        </ul>

        <!-- tab contents -->
        <div class="row" style="padding:10px">
            <!--original tab-content has 30px margin-top-->
            <div class="tab-content col-xs-12 col-lg-8" style="margin-top: 10px;">

                <!-- main-content -->
                <div id="tab-main-content" class="tab-pane fade in active">
                    <%- project.description %>
                </div>
                <!-- main-content -->
                <div id="tab-update" class="tab-pane fade in ">
                </div>
                <!-- main-content -->
                <div id="tab-comment" class="tab-pane fade in ">
                    <div id="commit-alert"></div>
                    <% if(user) { %>
                        <div class="make-comment">
                            <div class="form-group">
                                <label for="comment_content">评论</label>
                                <textarea class="form-control ta-noresize" name="comment_content" id="comment_content" rows="3" placeholder="您可以填写希望发起人知道的信息，鼓励一下也很好哟"
                                    maxlength="140"></textarea>
                            </div>
                        </div>
                        <button id="make-comment-btn" type="button" style="float:right;margin-bottom: 15px;" class="btn btn-info" 
                        onclick="AJAXMakeComment($('#make-comment-btn'), $('.show-comments'), $('#comment_content') )">提交</button>
                        <% } %>
                        <div class="clear"></div>
                            <div class="show-comments"></div>
                </div>
                <!-- main-content -->
                <div id="tab-reward" class="tab-pane fade in ">
                    <% if(currentUserBacked && currentUserBacked.length > 0){ %>
                        <div class="alert alert-info" role="alert">
                            您最近于
                            <%= new Date(currentUserBacked[currentUserBacked.length-1].history.created).toLocaleString() %> 支持过 ¥
                                <%= currentUserBacked[currentUserBacked.length-1].rw_amout %>
                        </div>
                        <% } %>
                            <div class="rewards">
                                <% for(tmp in project.parsedRw){ %>
                                    <div class="<%=project.parsedRw[tmp].rwlimited && Number.parseInt(project.parsedRw[tmp].rwlimited) === orders.bk_counts[tmp]? 'reward-disabled' : 'reward' %>"
                                        style="padding-left:10px">
                                        <h3>¥ <%= project.parsedRw[tmp].rwcount %><br/>
                        <small><span class="glyphicon glyphicon-magnet"></span>
                        <%= orders.bk_counts[tmp]? orders.bk_counts[tmp]:0 %> 位支持者 <%= (project.parsedRw[tmp].rwlimited !== 0)? "/ 限额 "+project.parsedRw[tmp].rwlimited : "" %></small></h3>
                                        <h4> <%= project.parsedRw[tmp].rwdetails %></h4>

                                        <p class="text-right"><small><b>预计上线时间 <%= project.parsedRw[tmp].rwdate %> </b></small></p>
                                    </div>
                                    <% } %>
                            </div>
                </div>
            </div>

            <div class="rewards col-lg-4 hidden-xs hidden-sm hidden-md">
                <!-- 就算在注释里的代码 '<'%' 也会被解释器解释！ -->

                <!--<div class="reward" style="padding-left:10px">
                    <h3>¥1<br/><small><span class="glyphicon glyphicon-magnet"></span>
5 位支持者/限额20</small></h3>

                    <h4>我为项目续一秒！</h4>

                    <p class="text-right"><small><b>预计上线时间 2016/6/10 </b></small></p>

                </div>-->
                <% if(currentUserBacked && currentUserBacked.length > 0){ %>
                    <div class="alert alert-info" role="alert">
                        您最近于
                        <%= new Date(currentUserBacked[currentUserBacked.length-1].history.created).toLocaleString() %> 支持过 ¥
                            <%= currentUserBacked[currentUserBacked.length-1].rw_amout %>
                    </div>
                    <% } %>

                        <div id="rewards-list">

                            <% for(tmp in project.parsedRw){ %>
                                <div class="<%=project.parsedRw[tmp].rwlimited && Number.parseInt(project.parsedRw[tmp].rwlimited) === orders.bk_counts[tmp]? 'reward-disabled' : 'reward' %>"
                                    style="padding-left:10px">
                                    <h3>¥ <%= project.parsedRw[tmp].rwcount %><br/>
                        <small><span class="glyphicon glyphicon-magnet"></span>
                        <%= orders.bk_counts[tmp]? orders.bk_counts[tmp]:0 %> 位支持者 <%= (project.parsedRw[tmp].rwlimited !== 0)? "/ 限额 "+project.parsedRw[tmp].rwlimited : "" %></small></h3>
                                    <h4> <%= project.parsedRw[tmp].rwdetails %></h4>

                                    <p class="text-right"><small><b>预计上线时间 <%= project.parsedRw[tmp].rwdate %> </b></small></p>
                                </div>
                                <% } %>
                        </div>

            </div>
        </div>


    </div>


    <script>
        $(function(){
            
            
            var min_height_set = function(){
                $('#detail-content').css('min-height',$(window).height()/3);
            };
            min_height_set();
            
            var set_reward_button_width = function(){
                var rewardButton = $('#btn-inline-reward');
                var rewardButtonOffset = rewardButton.offset().left;
                var tabLineWidth = $('.detail-content').css('width').substring(0,$('.detail-content').css('width').length - 2);
                var rewardButtonNewWid = tabLineWidth - rewardButtonOffset;
                rewardButton.css('width',rewardButtonNewWid-3);
            }
            set_reward_button_width();
            
            
            var setRwDirect = function(){
                $('.reward').click(function(){
                    location.assign('/back/?proj_id=<%=project._id%>&rw_id='+$(this).index());
                });
            };
            setRwDirect();
            
            var responseButton = function(){
                // 除了对css做响应式布局，“支持”按钮也需要响应式！
                // 在桌面上只要 #reward-list, 在手机因为这个div不显示，需要定义为打开 reward tab 并#tab
                if( screen.width < 768){
                    $('#back-button')
                    .off()
                    .click(function(){

                        $('#btn-inline-reward').click();
                        location.assign('#tab-reward');
                    });
                        
                }
            }
            responseButton();
            
            
        });
    </script>

    <script>
        $(function(){
            $('.nav-pills a[href=\"#tab-comment\"]').click(function(){
                getJSONComments($('.show-comments'));
            })
        })
    </script>





    <%- include footer %>